<div class="container-all">
    <input type="radio" id="1" name="image-slide" hidden/>
    <input type="radio" id="2" name="image-slide" hidden/>
	<input type="radio" id="3" name="image-slide" hidden/>
	<input type="radio" id="4" name="image-slide" hidden/>
	<input type="radio" id="5" name="image-slide" hidden/>		
	<input type="radio" id="6" name="image-slide" hidden/>	
	<input type="radio" id="7" name="image-slide" hidden/>	
    <div class="slide">
        <div class="item-slide">
            <img src="/images/IMAGENESEDITADAS/MASCARACIRCULAR.png">
        </div>
        <div class="item-slide">
            <img src="/images/IMAGENESEDITADAS/CHIMUELOCIRCULAR.png">
        </div>
        <div class="item-slide">
            <img src="/images/IMAGENESEDITADAS/RAYQUAZACIRCULAR.png">
		</div>
		<div class="item-slide">
			<img src="/images/IMAGENESEDITADAS/WALKERCIRCULAR.png">
		</div>
		<div class="item-slide">
			<img src="/images/IMAGENESEDITADAS/XWINGCIRCULAR.png">
		</div>
		<div class="item-slide">
			<img src="/images/IMAGENESEDITADAS/MATEDARTHVADERCIRCULAR.png">
		</div>
		<div class="item-slide">
			<img src="/images/IMAGENESEDITADAS/CASACIRCULAR.png">
		</div>

		
    </div>
    <div class="pagination">
       
        <label class="pagination-item" for="1">
            <img src="/images/IMAGENESEDITADAS/MASCARACIRCULAR.png">
        </label>
        
        <label class="pagination-item" for="2">
            <img src="/images/IMAGENESEDITADAS/CHIMUELOCIRCULAR.png">
        </label>
        
        <label class="pagination-item" for="3">
            <img src="/images/IMAGENESEDITADAS/RAYQUAZACIRCULAR.png">
        </label>
        <label class="pagination-item" for="4">
			<img src="/images/IMAGENESEDITADAS/WALKERCIRCULAR.png">
		</label>
		<label class="pagination-item" for="5">
			<img src="/images/IMAGENESEDITADAS/XWINGCIRCULAR.png">
		</label>
		<label class="pagination-item" for="6">
			<img src="/images/IMAGENESEDITADAS/MATEDARTHVADERCIRCULAR.png">
		</label>
		<label class="pagination-item" for="7">
			<img src="/images/IMAGENESEDITADAS/CASACIRCULAR.png">
		</label>
    </div>
    
</div>