<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="../stylesheets/footer.css">
</head>
<footer>
  <div class="redes">
    <h2>Seguinos!</h2>
    <div class="redes-i">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/3dz_arte3dimpresiones/" ><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="contacto">
    <h2>Contactanos!</h2>
    <div class="contacto-i">
      <i class="fab fa-whatsapp"></i>
      <p>+54 9 11 3306-6351</p>
    </div>
    <div class="contacto-i">
      <i class="fas fa-at"></i>
      <p>mariotaebox08@gmail.com</p>
    </div>
  </div>
  <p class="copyright">Copyright @ 2020 3DZ Todos Los Derechos Reservados</p>
</footer>  
