<section class="redes_sociales">
  <div class="logo_redes_sociales">
    <button type="submit">
      <img src="/images/Google.ico" alt="">
    </button>
  </div>
  <div class="logo_redes_sociales">
    <button type="submit">
      <img src="/images/twitter.ico" alt="">
    </button>
  </div>
  
  <div class="logo_redes_sociales">
    <button type="submit">
      <img src="/images/facebook.ico" alt="">
    </button>
  </div>
  <div class="logo_redes_sociales">
    <button type="submit">
      <img src="/images/instagram.ico" alt="">
    </button>
  </div>
</section>
