<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='stylesheets/style.css'>
  <link rel="stylesheet" href="stylesheets/carousel.css">
  <title>3DZ_Impresiones_3D</title>
</head>
<body>
  <%-include('./partials/header')%>
  <div class="container">
    <div class="banner" >
      <img src="/images/IMAGENESEDITADAS/banner.jpg">
    </div>
    <a href="/products">
      <div class="carousel">
        <%-include('./partials/carousel')%>
      </div>
    </a>
  </div>
  <%-include('./partials/footer')%>
</body>
  
</html>