<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/navBar.css">
    <link rel="stylesheet" href="/stylesheets/nosotros.css">
    <title>nosotros</title>
</head>
<body>
    <%-include('./partials/header')%>
    <div class="container">
        <div class="banner" >
            <img src="/images/IMAGENESEDITADAS/banner.jpg">
        </div>
        <div class = "descripcion">
            <p>Somos una empresa especializada al diseño, modelado e impresión 3D en Quilmes Oeste. Nuestro equipo de desarrollo se dedica
                a solucionar las necesidades del cliente ya sea en arte digital 3D como en su impresión. Realizamos trabajos en serie y por unidad. Somos el medio para que los proyectos
                se realizen de forma profesional, en tiempo y forma. Si necesita de nuestro servicio, no dude en contactarnos.
            </p>
        </div>
        <div class = "muestras">
            <div class="gif1"><img src="/images/gifyvideos/gifimpresora.gif" alt="">
                <div class="textogif">
                    <h2 class="titulos">Trabajando con Temperatura Ambiente</h2>
                    <p>Trabajamos en un ambiente con temperatura acondicionada a la impresión que se necesite realizar. Configuramos el objeto 3D a imprimir
                        para que la impresión se efectúe con buena calidad en tiempo considerado.     
                    </p>
                </div>     
            </div>
            <div class="ornamento1"><img src="/images/IMAGENESEDITADAS/ornamentoedit.png" alt="">
                <div class="textorender">
                <h2 class="titulos">Renderizado del Objeto 3D</h2>
                    <p>Nuestro equipo de desarrollo se encarga de diseñar, modelar y preparar la pieza a imprimir para para que el cliente aprecie la futura impresión.</p>
                </div>
            </div>
            <div class="ornamento2"><img src="/images/IMAGENESEDITADAS/ornamentos.jpg" alt="">
                <div class="textoproduccion">
                    <h2 class="titulos">Finalizado</h2>
                    <p>Nos encargamos de que la impresión no salga defectuosa y cumpla con los requisitos pactados por el cliente, estableciendo asi calidad en el producto final.</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
<footer>
    <%-include('./partials/footer')%>
</footer>
</html>