<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/register.css">
  <!--Fuentes Google-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!--Iconos Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>Registrate en 3DZ impresiones</title>
</head>
<body>
  <div class="container">
    <header>
      <section>
        <a href="/"><img src="/images/LOGO/LOGOPNG.png"></a>
      </section>
    </header>
    <main>
      <section class="idVista">
        <h3>Registro de Usuario</h3>
      </section>
      <section class="errores">
      <% if(typeof errors != 'undefined') { %>
        <h1 class="errores">Errores Detectados</h1>
        <ul class="errores">
          <% for(let i = 0; i < errors.length; i++) {%> 
            <li class="errores">
              <%= errors[i].msg %> 
            </li>
            <% } %>
        </ul>
      <% } %>  
    </section>
      <form action="/users/register" method="POST" autocomplete="on">
        <ul>
          <li>
            <span class="iconForm">
              <i class="far fa-user"></i>
            </span>
            <label for="userName"></label>
            <input type="text" name="userName" id="user" placeholder="Ingrese su nombre y apellido">
          </li>
          <li>
            <span class="iconForm">
              <i class="far fa-envelope"></i>
            </span>
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Ingrese su email">
          </li>
          <li>
            <span class="iconForm">
              <i class="fas fa-unlock-alt"></i>
            </span>
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Ingrese su contraseña">
          </li>
          
          <li>
            <span class="iconForm">
              <i class="fas fa-lock"></i>
            </span>
            <label for="password"></label>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme su contraseña">
          </li>
          <!--Agregados al formulario
          <li>
            <span class="iconForm">
              <i class="fas fa-phone-square-alt"></i>
            </span>
            <label for="telefono"></label>
            <input type="text" name="telefono" id="telefono" placeholder="Ingrese su número de teléfono">
          </li>
          <li>
            <span class="iconForm">
              <i class="fas fa-house-user"></i>
            </span>
            <label for="domicilio"></label>
            <input type="text" name="domicilio" id="domicilio" placeholder="Ingrese su domicilio">
          </li>
          <li>
            <span class="iconForm">
              <i class="far fa-user"></i>
            </span>
            <label for="localidad"></label>
            <input type="text" name="localidad" id="localidad" placeholder="Ingrese su localidad">
          </li>
        -->
        </ul>
  
      <section class="registrar">
        <button type="submit">Registrarme</button>
      </section>
    </form>    
    <!--
      <section class="registro">
        <h3>Registrate con</h3>
      </section>
      <%-include('../partials/redes_sociales')%>
    -->
    </main>
    <footer>
      <section>
        <p>Ya tenés una cuenta?</p>
        <div>
          <i class="fas fa-sign-in-alt"></i>
          <a href="/users/login">Iniciar Sesión</a>
        </div>
      </section>
    </footer>
  </div>
</body>
</html>